/* Importar fonte moderna */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(imagens/imagem1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.conteiner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.bemvindo {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}

.descri   {
    color: #555;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
    margin-bottom: 15px;
}

.entar {
    background-color: #0a0796d0;
    color: white;
    font-weight: 600;
     border: 2px none;
     border-radius: 20px;
}

.entar:hover {
    background-color: #ffffff;
    transform: scale(1.02);
    color: #0f0e0e;
    border: 2px solid #0f0e0e
}

.cadastrar {
    background-color: #0a0796d0;
    border: none;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 0;
    border-radius: 20px;
}

.cadastrar:hover {
    background-color: #ffffff;
    transform: scale(1.02);
    color: #0f0e0e;
    border: 2px solid #0f0e0e
}

/* Estilos para o Formulario */
form {
    margin-top: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 15px;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0a0796d0;
    color: white;
    font-weight: 600;
    border: none;
    transition: transform 0.2s;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #ffffff;
    transform: scale(1.02);
    color: #0f0e0e;
    border: 2px solid #0f0e0e;
}

.box p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.box a {
    color: #0a0796d0;
    text-decoration: none;
    font-weight: 600;
}

.termos {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: flex-start;
}

.termos input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

.termos label {
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}
.termos label a {
    color: #0a0796d0;
    text-decoration: none;
    font-weight: 600;
}

.termos label a:hover {
    text-decoration: underline;
}